body {
  background-color: #121216;
  font-family: Open Sans,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.3333;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  color: white;
}
section {
  margin-bottom: 96px;
}

/* .body  {
  background-image: linear-gradient(286deg,rgb(27 231 255/50%) 25.99%,#e47aff 64.62%,rgb(109 19 255/60%) 80.2%);

} */
.centrar-elementos{
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
/*   margin-top: 48px;
  margin-bottom: 48px; */
}

p, button {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
  font-family: Mabry-Pro-Medium;
  src: url(fuentes/Mabry-Pro-Medium.ttf);
}
/* Alinea el texto del encabezado al centro y establece el tamaño */
h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  text-align: center;
}

h3 {
  font-size: 29px;
  text-align: center;
  margin-bottom: 0;
}

.parrafo-principal {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 48px;
}

.parrafo-secundario {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 0;
}

.card {
  max-width: 600px;
  margin: auto auto 48px auto;
  padding: auto;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.etiqueta-card {
  width: 600px;
  margin: auto auto 24px auto;
  padding: 8px 0px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border:solid 1px white;
  position: relative;
  cursor: pointer;
}

.card-body {
  padding: 24px 80px 16px;
}



.image {
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  cursor: pointer;
}

.image.offline{
  margin-top: 12px;
  margin-bottom: 48px;
}

/*titulo primario de las tarjetas*/
.card h2 {
  font-size: 38px;
  font-weight: normal;
  margin-top: 0;
}
/*titulo secundario de las tarjetas*/
.card h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0px;
}

/* estilos a los parrafos y etiquetas de las tarjetas*/
.card p, a {
  font-size: 16px;
  line-height: 19px;
  color: white;
}

/*texto secunadrio de las tarjetas*/
.card-text-2 {
  margin: auto;
}

/* botón base*/
.btn {
  height: 54px;
  text-transform: uppercase;
  border-radius: 400px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor:pointer;
}

/*Botón negro*/
.btn-dark {
  width: 100%;
  max-width: 338px;
  background-color: #121216;
  color: white;
}

/* negativo del boton dark cuando se pasa el cursor*/
.btn-dark:hover {
  background-color: white;
  color: black;
}

/* Botón blanco*/
.btn-ligth {
  padding: 10px 32px;
}

/* da estilos al texto de las tarjetas*/
.card-text {
  margin-bottom: 5px;
}

/*fondo morado degradado */
.bg-purple {
  background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
}
/* fondo naranja degrado*/
.bg-orange {
  background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
}
/*fondo gris degrado */
.bg-grey {
  background: linear-gradient(180deg,#202122,#3a3b47 55.56%);
}

.logo-tigo {
  width: 25px;
}
/* fondo azul-morado degradado */
.bg-blue-purple {
  background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
}

/* Esconde los elementos */
.deezer-premiun-anual, .deezer-student, input[type=checkbox]{
  display: none;
}

/* Muestra el contenido de deezer premiun anual */
#deezer-premiun-anual:checked ~ .card.deezer-premiun-anual {
  display: block;
}

/* Esconde el contenido de la eiqueta para deezer premiun anual */
#deezer-premiun-anual:checked ~ .etiqueta-card.premiun-anual {
  display: none;
}

/* Muestra el contenido de deezer student */
#deezer-student:checked ~ .card.deezer-student {
  display: block;
}

/* Esconde el contenido de la eiqueta para deezer student */
#deezer-student:checked ~ .etiqueta-card.student {
  display: none;
}

/*Da estilos al label de la etiqueta-card*/
label {
  font-size: 14px;
  font-weight: bold;
  display: flex; 
  align-items:center;
  justify-content: center;
  margin: auto 60px;
  cursor: pointer;
}

/* pone la etiqueta de descuento dentro de la etiqueta-card */
.etiqueta-descuento {
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.3333;
  padding: 3px 10px;
  position: absolute;
  margin: -24px 540px;

}

/* Establece el ancho del acordeón. Establece el margen y padding */
.acordeon {
  width: 600px;
  margin: auto;
  padding: auto;
}
/* Establece la posición y margen del contenido de los acordeones*/
.acordeon .contenedor {
  position: relative;
  margin: 0%;
}
  
/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */
.acordeon .etiqueta {
  position: relative;
  padding: 0% 0% 0% 0%;
  font-size: 29px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 0%;
}

/* Posiciona los parrafos en relación con el contenedor. Añade margen en la parte inferior y establece el tamaño de la fuente. */
.acordeon .contenido {
  position: relative;
  font-size: 16px;
  width: 100%;
}

/* Muestra el contenido del acordeon contenedor uno */
#contenedor-uno:checked ~ .contenedor.uno p {
  display: block;
  height: auto;
}

/* Muestra el contenido del acordeon contenedor dos */
#contenedor-dos:checked ~ .contenedor.dos p {
  display: block;
  height: auto;
}

/* Muestra el contenido del acordeon contenedor tres */
#contenedor-tres:checked ~ .contenedor.tres p {
  display: block;
  height: auto;
}

/* Muestra el contenido del acordeon contenedor tres */
#contenedor-cuatro:checked ~ .contenedor.cuatro p {
  display: block;
  height: auto;
}

/* Muestra el contenido del acordeon contenedor tres */
#contenedor-cinco:checked ~ .contenedor.cinco p {
  display: block;
  height: auto;
}

/* Esconde los parrafos del acordeon */
.contenedor p {
  display: none;
}

/* Da estilos a los titulos del acordeon */
.contenedor  label {
  text-decoration: none;
  display: block;
  color: white;
  display: flex; 
  align-items:center;
  justify-content: space-between;
  margin: 0 0 16px 0;
}

/* Da estilo al icono del acordeon */
.icon-acordeon{
  width: 30px;
}

/* Centra los parráfos */
.parrafos {
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  width: 600px;
  color: #92929d;
  
}

/* Da estilo al parrafo secuandario */
.parrafo {
  padding: 50px 0;
  line-height: 25px;
}